// colors
$color-main: #906DF4;
$color-gray: #dcdcdc;
$color-blue:#4682B4;
$color-yellow: #BDB76B;
$dark-light:#242222;
$red:#CD5C5C;
$disabled: #C0C0C0;

// fonts
$font-main: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$font-content:  'Montserrat', sans-serif;
$font-second: Bookman;